/** Variable Imports **/
@import "./variables.css";

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/** Your CSS Below **/

body {
  background-color: #f3e5d8;
  display: flex; /*to ask*/
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 12px;
}

.receipe {
  background-color: white;
  width: 80%;
  max-width: 500px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  font-family: var(--fs-base);
  text-align: justify;
  line-height: 20px;
}

h1 {
  color: black;
  font-family: var(--fs-accent);
  margin-bottom: 10px;
}

h2 {
  color: var(--clr-brown800);
  font-family: var(--fs-accent);
  padding: 0 0 10px 15px;
}

h3 {
  color: var(--clr-rose800);
  font-weight: bold;
  padding: 10px;
}

hr {
  border: 0.1px solid rgb(192, 189, 189);
  margin: 10px;
}

span {
  font-weight: bold;
}

img {
  width: 700px;
  display: block;
  border-radius: 15px;
  margin: 0 0 15px 0;
}

.omelettePic_intro {
  margin: 15px;
}

.preparation_time {
  display: flexbox;
  background-color: var(--clr-rose50);
  border-radius: 15px;
  text-indent: 15px;
  font-size: 12px;
  padding: 5px;
  margin: 15px;
}

.preparation_time li::marker {
  color: var(--clr-rose800);
}

.ingredients {
  text-indent: 1px;
  margin-right: 15px;
}

.instructions {
  margin-right: 15px;
}

.instructions li::marker {
  font-weight: bold;
  color: var(--clr-brown800);
}

.nutrition p {
  margin: 0 15px 0 15px;
}
table {
  width: 90%;
  border-collapse: collapse;
  margin: 15px;
}

.value {
  font-weight: bold;
  color: var(--clr-brown800);
}

tr {
  border-bottom: 0.2px solid grey;
}

/** Attribution CSS **/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/** color codes :  main-#f3e5d8, prepBackground-#fff7fc, 
prepTitle-#774359, h2-#7b3e2f */
