/** Variable Imports **/
@import "./variables.css";

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/** Your CSS Below **/

body {
  background-color: #f3e5d8;
  display: flex; /*to ask*/
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 11px;
  gap: 20px;
}

.receipe {
  background-color: white;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 15px;
  font-family: Outfit;
  gap: 15px; /*to ask*/
  line-height: 20px;
}

img {
  width: 700px;
  display: block;
  border-radius: 15px;
}

h1 {
  color: black;
  font-family: young-serif;
}

h2 {
  color: #7b3e2f;
  font-family: young-serif;
}

h3 {
  color: #74495d;
}

/* hr {
  text-decoration-thickness: 0.5px;
} to ask */

.preparation_time {
  display: flexbox;
  background-color: #fff7fc;
  border-radius: 15px;
  text-indent: 30px;
  font-size: 12px;
}

span {
  font-weight: bold;
}

/* numbers bold {
} to ask */

/* table {
} to ask */

/** Attribution CSS **/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/** color codes :  main-#f3e5d8, prepBackground-#fff7fc, 
prepTitle-#774359, h2-#7b3e2f */
